/*icon*/
.icon-punchClock{
  font-size: 4rem;
  font-family: 'iconfont';
}
.icon-punchClock:before{
  content: '\e620';
  display: inline-block;
}
.icon-statistics{
  font-size: 4rem;
  font-family: 'iconfont';
}
.icon-statistics:before{
  content: '\e666';
  display: inline-block;
}

/*body*/
/*footer*/
.box-icon{
  height: 8rem;
  line-height: 4rem;
}
span.tj{
  line-height: 4rem;
}
.selectTime{
  position: absolute;
  right: 5rem;
  width: 15rem;
  height: 6rem;
  border-radius: 20px;
  background: rgb(233,241,255);
  top:0;
  margin-top: 2rem;
  text-align: center;
  font-size: 2.5rem;
  line-height: 6rem;
}
