/*字体图标*/
@font-face {
  font-family: 'iconfont';  /* project id 427770 */
  src: url('https://at.alicdn.com/t/font_427770_08f1tznuz1zia4i.eot');
  src: url('https://at.alicdn.com/t/font_427770_08f1tznuz1zia4i.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_427770_08f1tznuz1zia4i.woff') format('woff'),
  url('https://at.alicdn.com/t/font_427770_08f1tznuz1zia4i.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_427770_08f1tznuz1zia4i.svg#iconfont') format('svg');
}
.icon-setting{
  font-family: 'iconfont';
  height: 100%;width: 100%;
  line-height: 8rem;
  text-align: center;
  font-size: 4rem;
  color: rgb(45,188,242);
}
.icon-setting:before{
  content: '\e626';
  display: inline-block;
}

.icon-message{
  color: rgb(45,188,242);
  font-family: 'iconfont';
  height: 100%;width: 100%;
  line-height: 8rem;
  text-align: center;
  font-size: 4rem;
}
.icon-message:before{
  content: '\e612';
  display: inline-block;
}

.icon-work{
  font-family: 'iconfont';
  line-height: 5rem;
  text-align: center;
  font-size: 4rem;
}
.icon-work:before{
  content: '\e612';
  display: inline-block;
}
.icon-my{
  font-family: 'iconfont';
  line-height: 5rem;
  text-align: center;
  font-size: 4rem;
}
.icon-my:before{
  content: '\e627';
  display: inline-block;
}
.icon-attendance{
  font-size: 4rem;
}
.icon-attendance:before{
  content: '\e620';
  display: inline-block;
}
.icon-journal{
  font-size: 6rem;
}
.icon-journal:before{
  content: '\e66a';
  display: inline-block;
}
.icon-cc{
  font-size: 5rem;
  font-weight: bolder
}
.icon-cc:before{
  content: '\e67a';
  display: inline-block;
}
.icon-process{
  font-size: 5rem;
}
.icon-process:before{
  content: '\e665';
  display: inline-block;
}
/*字体大小*/
.fontsizeS{
  font-size: 2rem;
}
/*头部样式*/
.header-style{
  background: #fff;
  height:8rem;
  border-bottom: 1px solid rgb(212,212,212);
}
.nav-left{
  float: left;
  height: 100%;
  padding-left: 4rem;
  line-height: 10rem;
}
.nav-right{
  float: right;
  width: 18rem;
  height: 8rem;
}
.nav-right .icon-box{
  float: left;
  width: 8rem;
  border-left:1px solid rgb(212,212,212);
}
.nav-left span{
  font-size: 6rem;
}
/*banner样式*/
.banner-box{
  width: 100vw;
  height: 37em;
}
.banner-back:nth-child(1){
  background-image: url("../../static/img/1.png");
  background-size:contain;
  background-repeat: no-repeat;
}
.banner-back:nth-child(2){
  background-image: url("../../static/img/1.png");
  background-size:contain;
  background-repeat: no-repeat;
}
/*mannage*/
.mannage-box{
  background: #fff;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  height:12rem;
  align-items:center;
  //background: red;
}
.go-mannage{
  height: 6rem;
  line-height: 6rem;
  width: 50%;
  margin: 0 auto;
  border-right: 1px solid rgb(205,205,205);
}
.go-mannage p{
  float: left;
  font-size: 3rem;
  margin: 0 4rem;
}
.go-mannage .badge{
  float: left;
  width: 6rem;height:6rem;
  border-radius: 20px;
  border: 2px solid rgb(204,204,204);
  text-align: center;
  font-size: 3rem;
}
.interval{
  height: 5rem;
  width: 100vw;
  background:rgb(228,228,228) ;
}
.application{
  background: #fff;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  align-items:center;
}
.go-application{
  height: 12rem;

  width: 50vw;
  margin: 0 auto;
  border-right: 1px solid rgb(205,205,205);
  border-bottom: 1px solid rgb(205,205,205);
}
.go-application p{
  float: left;
  margin: 0 4rem;
  font-size: 3rem;
  line-height: 12rem;
}
.go-application .badge{
  float: left;
  width: 7rem;height:7rem;
  border-radius: 20px;
  border: 2px solid rgb(204,204,204);
  text-align: center;
  margin-top: 3rem;
  line-height: 7rem;
  font-family: 'iconfont';
  color: #fff;
}
.icon-attendance,.icon-journal{
  background: rgb(77,169,234);
}
.icon-cc,.icon-process{
  background: rgb(247,181,94);
}
.font-application{
  text-align: left;
  padding-left: 3rem;
  font-size: 4rem;
  width: 100vw;
  height:7rem;
  line-height: 7rem;
  border-bottom: 1px solid rgb(205,205,205);
}
/*footer*/
.footer{
  height: 10rem;
}
